<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>Afghanistan</key>
		<string>93</string>
		<key>Alaska</key>
		<string>1907</string>
		<key>Albania</key>
		<string>355</string>
		<key>Algeria</key>
		<string>213</string>
		<key>American Samoa</key>
		<string>684</string>
		<key>Angola</key>
		<string>244</string>
		<key>Anguilla</key>
		<string>1809</string>
		<key>Argentina</key>
		<string>54</string>
		<key>Aruba</key>
		<string>297</string>
		<key>Ascension Island</key>
		<string>247</string>
		<key>Australia</key>
		<string>61</string>
		<key>Austria</key>
		<string>43</string>
	</dict>
	<key>B</key>
	<dict>
		<key>Bahamas</key>
		<string>1809</string>
		<key>Bahrain</key>
		<string>973</string>
		<key>Bangladesh</key>
		<string>880</string>
		<key>Barbados</key>
		<string>1809</string>
		<key>Belgium</key>
		<string>32</string>
		<key>Belize</key>
		<string>501</string>
		<key>Benin</key>
		<string>229</string>
		<key>Bhutan</key>
		<string>975</string>
		<key>Bolivia</key>
		<string>591</string>
		<key>Botswana</key>
		<string>267</string>
		<key>Brazil</key>
		<string>55</string>
		<key>Brunei</key>
		<string>673</string>
		<key>Bulgaria</key>
		<string>359</string>
		<key>Burkina Faso</key>
		<string>226</string>
		<key>Burundi</key>
		<string>257</string>
	</dict>
	<key>C</key>
	<dict>
		<key>Cambodia</key>
		<string>855</string>
		<key>Cameroon</key>
		<string>237</string>
		<key>Canada</key>
		<string>1</string>
		<key>Cape Verde</key>
		<string>238</string>
		<key>Central African Republic</key>
		<string>236</string>
		<key>Chad</key>
		<string>235</string>
		<key>Chile</key>
		<string>56</string>
		<key>China</key>
		<string>86</string>
		<key>Christmas Island</key>
		<string>6724</string>
		<key>Coate d&apos;Ivoire</key>
		<string>225</string>
		<key>Cocos Island</key>
		<string>6722</string>
		<key>Colombia</key>
		<string>57</string>
		<key>Comoros</key>
		<string>269</string>
		<key>Congo</key>
		<string>243</string>
		<key>Cook Islands</key>
		<string>682</string>
		<key>Costa Rica</key>
		<string>506</string>
		<key>Cuba</key>
		<string>53</string>
		<key>Cyprus</key>
		<string>357</string>
	</dict>
	<key>D</key>
	<dict>
		<key>Denmark</key>
		<string>45</string>
		<key>Djibouti</key>
		<string>253</string>
	</dict>
	<key>E</key>
	<dict>
		<key>Ecuador</key>
		<string>593</string>
		<key>Egypt</key>
		<string>20</string>
		<key>El Salvador</key>
		<string>503</string>
		<key>Equatorial Guinea</key>
		<string>240</string>
		<key>Ethiopia</key>
		<string>251</string>
	</dict>
	<key>F</key>
	<dict>
		<key>Faroe Islands</key>
		<string>298</string>
		<key>Fiji</key>
		<string>679</string>
		<key>Finland</key>
		<string>358</string>
		<key>France</key>
		<string>33</string>
		<key>French Guiana</key>
		<string>594</string>
	</dict>
	<key>G</key>
	<dict>
		<key>Gabon</key>
		<string>241</string>
		<key>Gambia</key>
		<string>220</string>
		<key>Germany</key>
		<string>49</string>
		<key>Ghana</key>
		<string>233</string>
		<key>Gibraltar</key>
		<string>350</string>
		<key>Greece</key>
		<string>30</string>
		<key>Greenland</key>
		<string>299</string>
		<key>Guam</key>
		<string>671</string>
		<key>Guatemala</key>
		<string>502</string>
		<key>Guinea</key>
		<string>224</string>
		<key>Guinea-Bissau</key>
		<string>245</string>
		<key>Guyana</key>
		<string>592</string>
	</dict>
	<key>H</key>
	<dict>
		<key>Haiti</key>
		<string>509</string>
		<key>Hawaii</key>
		<string>1808</string>
		<key>Honduras</key>
		<string>504</string>
		<key>Hong Kong</key>
		<string>852</string>
		<key>Hungary</key>
		<string>336</string>
	</dict>
	<key>I</key>
	<dict>
		<key>Iceland</key>
		<string>354</string>
		<key>India</key>
		<string>91</string>
		<key>Indonesia</key>
		<string>62</string>
		<key>Iran</key>
		<string>98</string>
		<key>Iraq</key>
		<string>964</string>
		<key>Ireland</key>
		<string>353</string>
		<key>Islas Malvinas</key>
		<string>500</string>
		<key>Israel</key>
		<string>972</string>
		<key>Italy</key>
		<string>39</string>
	</dict>
	<key>J</key>
	<dict>
		<key>Jamaica</key>
		<string>1809</string>
		<key>Japan</key>
		<string>81</string>
		<key>Jordan</key>
		<string>962</string>
	</dict>
	<key>K</key>
	<dict>
		<key>Kenya</key>
		<string>254</string>
		<key>Kiribati</key>
		<string>686</string>
		<key>Kuwait</key>
		<string>965</string>
	</dict>
	<key>L</key>
	<dict>
		<key>Laos</key>
		<string>856</string>
		<key>Lebanon</key>
		<string>961</string>
		<key>Lesotho</key>
		<string>266</string>
		<key>Liberia</key>
		<string>231</string>
		<key>Libya</key>
		<string>218</string>
		<key>Liechtenstein</key>
		<string>4175</string>
		<key>Luxembourg</key>
		<string>352</string>
	</dict>
	<key>M</key>
	<dict>
		<key>Macao</key>
		<string>853</string>
		<key>Madagascar</key>
		<string>261</string>
		<key>Malawi</key>
		<string>265</string>
		<key>Malaysia</key>
		<string>60</string>
		<key>Maldives</key>
		<string>960</string>
		<key>Mali</key>
		<string>223</string>
		<key>Malta</key>
		<string>356</string>
		<key>Martinique</key>
		<string>596</string>
		<key>Mauritania</key>
		<string>222</string>
		<key>Mauritius</key>
		<string>230</string>
		<key>Mexico</key>
		<string>52</string>
		<key>Midway Island</key>
		<string>1808</string>
		<key>Mongolia</key>
		<string>976</string>
		<key>Morocco</key>
		<string>210</string>
		<key>Mozambique</key>
		<string>258</string>
		<key>Myanmar</key>
		<string>95</string>
	</dict>
	<key>N</key>
	<dict>
		<key>Namibia</key>
		<string>264</string>
		<key>Nauru</key>
		<string>674</string>
		<key>Nepal</key>
		<string>977</string>
		<key>Netherlands</key>
		<string>31</string>
		<key>New Zealand</key>
		<string>64</string>
		<key>Nicaragua</key>
		<string>505</string>
		<key>Niger</key>
		<string>227</string>
		<key>Nigeria</key>
		<string>234</string>
		<key>Niue</key>
		<string>683</string>
		<key>Norfolk Island</key>
		<string>6723</string>
		<key>North Korea</key>
		<string>850</string>
		<key>Norway</key>
		<string>47</string>
	</dict>
	<key>O</key>
	<dict>
		<key>Oman</key>
		<string>968</string>
	</dict>
	<key>P</key>
	<dict>
		<key>Pakistan</key>
		<string>92</string>
		<key>Panama</key>
		<string>507</string>
		<key>Paraguay</key>
		<string>595</string>
		<key>Peru</key>
		<string>51</string>
		<key>Philippines</key>
		<string>63</string>
		<key>Poland</key>
		<string>48</string>
		<key>Portugal</key>
		<string>351</string>
		<key>Principe</key>
		<string>239</string>
		<key>Puerto Rico</key>
		<string>1809</string>
	</dict>
	<key>Q</key>
	<dict>
		<key>Qatar</key>
		<string>974</string>
	</dict>
	<key>R</key>
	<dict>
		<key>Reunion</key>
		<string>262</string>
		<key>Romania</key>
		<string>40</string>
		<key>Russia</key>
		<string>7</string>
		<key>Rwanda</key>
		<string>250</string>
	</dict>
	<key>S</key>
	<dict>
		<key>Saint Helena</key>
		<string>290</string>
		<key>Saint Lucia</key>
		<string>1809</string>
		<key>Samoa</key>
		<string>685</string>
		<key>San Marino</key>
		<string>223</string>
		<key>Sao Tome and Principe</key>
		<string>239</string>
		<key>Saudi Arabia</key>
		<string>966</string>
		<key>Senegal</key>
		<string>221</string>
		<key>Seychelles</key>
		<string>248</string>
		<key>Sierra Leone</key>
		<string>232</string>
		<key>Singapore</key>
		<string>65</string>
		<key>Solomon Islands</key>
		<string>677</string>
		<key>Somalia</key>
		<string>252</string>
		<key>South Africa</key>
		<string>27</string>
		<key>South Korea</key>
		<string>82</string>
		<key>Spain</key>
		<string>34</string>
		<key>Sri Lanka</key>
		<string>94</string>
		<key>Sudan</key>
		<string>249</string>
		<key>Suriname</key>
		<string>597</string>
		<key>Swaziland</key>
		<string>268</string>
		<key>Sweden</key>
		<string>46</string>
		<key>Swiss</key>
		<string>41</string>
		<key>Syria</key>
		<string>963</string>
	</dict>
	<key>T</key>
	<dict>
		<key>Taiwan</key>
		<string>886</string>
		<key>Tanzania</key>
		<string>255</string>
		<key>Thailand</key>
		<string>66</string>
		<key>Togo</key>
		<string>228</string>
		<key>Tonga</key>
		<string>676</string>
		<key>Tunisia</key>
		<string>216</string>
		<key>Turkey</key>
		<string>90</string>
		<key>Tuvalu</key>
		<string>688</string>
	</dict>
	<key>U</key>
	<dict>
		<key>USA</key>
		<string>1</string>
		<key>Uganda</key>
		<string>256</string>
		<key>United Kingdom</key>
		<string>44</string>
		<key>Uruguay</key>
		<string>598</string>
	</dict>
	<key>V</key>
	<dict>
		<key>Vanuatu</key>
		<string>678</string>
		<key>Vatican</key>
		<string>396</string>
		<key>Venezuela</key>
		<string>58</string>
		<key>Vietnam</key>
		<string>84</string>
		<key>Virgin Islands</key>
		<string>1809</string>
	</dict>
	<key>W</key>
	<dict>
		<key>Wake Island</key>
		<string>1808</string>
	</dict>
	<key>Y</key>
	<dict>
		<key>Yugoslavia</key>
		<string>338</string>
	</dict>
	<key>Z</key>
	<dict>
		<key>Zambia</key>
		<string>260</string>
		<key>Zimbabwe</key>
		<string>263</string>
	</dict>
</dict>
</plist>
